/* ***** commons ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    padding: 20px 50px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
}

/* ***** header top ***** */
.header-top {
    margin-bottom: 20px;
}

#logo img {
    height: 60px;
    padding-right: 10px;
    border-right: 1px solid lightgrey;
}

nav {
    line-height: 40px;
}

nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: gray;
    margin-right: 10px;
}

/* ***** jumbotron ***** */
.jumbotron {
    height: 350px;
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.jumbo-container {
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 30%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.jumbo-title {
    color: white;
}

.jumbotron p {
    font-size: 14px;
}

/* ****** main ***** */
main {
    margin-bottom: 10px;
}

.main-top {
    margin-bottom: 20px;
}

main p {
    color: gray;
    font-size: 12px;
}

.title {
    margin-bottom: 5px;
}

.main-central {
    margin: 0 1%;
}

.col-sx, .main-central, .col-dx {
    float: left;
    margin-bottom: 20px;
}

aside {
    width: 20%;    
}

.main-central {
    width: 58%;
}

.col {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.img-sx {
    background-image: url(../img/img-1.jpg);
}

.img-central {
    background-image: url(../img/banner-2.jpg);
}

.img-dx {
    background-image: url(../img/img-3.jpg);
}

/* ***** footer ***** */

footer {
    height: 40px;
    line-height: 40px;
}

.heart {
    color:red;
    font-size: 20px;
}

footer div {
    text-align: center;
    font-size: 12px;
}






/* ***** debug header ***** */

.debug .header-top {
    background-color: violet;
}

.debug .jumbotron {
    background-color: rgb(255, 230, 0);
}

/* ***** debug main ***** */
.debug main {
    background-color: blue;
}

.debug .main-top, .debug .col-sx, .debug .main-central, .debug .col-dx {
    background-color: lightskyblue;
}

.debug .col-sx, .debug .main-central, .debug .col-dx {
    height: 600px;
}

.debug .main-top {
    height: 80px;
}

/* debug footer */
.debug footer {
    background-color: purple;
}